// contact
.contact__header {
  padding: 28rem 4rem 4rem 4rem;
  color: var(--white);

  h1 {
    font-size: 10rem;
    font-family: var(--title-font);
    font-weight: var(--font-med);
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
  }

  p {
    width: 52.5%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 1360px) {
  .contact__header {
    padding: 24rem 4rem 10rem 4rem;

    h1 {
      font-size: 8rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact__header {
    padding: 24rem 2rem 8rem 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .contact__header {
    h1 {
      font-size: 6rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .contact__header {
    padding: 18rem 1rem 6rem 1rem;

    h1 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1rem;
      width: 100%;
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 525px) {
  .contact__header {
    h1 {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact__header {
    padding: 18rem 1rem 6rem 1rem;

    h1 {
      font-size: 2.75rem;
    }
  }
}

.contact__form {
  .form {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 48rem;

    .part {
      position: absolute;
      transform: translateX(20%);
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transition: var(--mid-speed);
      width: 100%;
      padding: 4rem;

      &.selected {
        transform: translateX(0%);
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }

    .next {
      cursor: pointer;
    }

    .row {
      max-width: 1200px;
      margin: 0 auto 4rem auto;
      width: 100%;
      position: relative;
      overflow: hidden;

      label {
        display: none;
      }

      .slide {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform: translateX(-101%);
        transition: var(--fast-speed);
      }

      .btn {
        border: none;
        background: none;
        outline: none;
        color: #fff;
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        font-family: var(--title-font);
        font-weight: var(--font-light);
        justify-content: flex-start;
        width: max-content;

        &:hover {
          .arrow {
            svg {
              path {
                fill: var(--white);
              }
            }
          }
        }

        .arrow {
          .btn__hover {
            background-color: var(--orange);
          }

          svg {
            path {
              fill: var(--orange);

              transition: var(--fast-speed);
            }
          }
        }
      }

      input {
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-size: 4rem;
        vertical-align: bottom;
        font-family: var(--title-font);
        font-weight: var(--font-light);

        &::placeholder {
          color: var(--light-grey);
          opacity: 0.45;
          font-size: 4rem;
          vertical-align: bottom;
        }

        &:focus {
          ~ .slide {
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .contact__form {
    .form {
      .row {
        margin-bottom: 2rem;

        input {
          font-size: 2rem;

          &::placeholder {
            font-size: 2rem;
          }
        }

        .btn {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 625px) {
  .contact__form {
    .form {
      .part {
        padding: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 525px) {
  .contact__form {
    .form {
      .row {
        margin-bottom: 1.25rem;

        input {
          font-size: 1.25rem;
          padding: 0.5rem;

          &::placeholder {
            font-size: 1.25rem;
          }
        }

        .btn {
          padding: 0.5rem;
          height: 7rem;
          font-size: 1.25rem;
          width: 100%;
        }
      }
    }
  }
}
