// inner portfolio
.inner__portfolio__header {
  position: relative;

  .img {
    width: 100%;
    height: 60rem;
    margin: 0 auto;
    position: relative;
    order: 1;

    overflow: hidden;

    figure {
      width: 115%;
      height: 115%;
    }
  }

  .overlay {
    position: absolute;
    display: none;
  }

  .intro {
    color: var(--white);
    padding: 18rem 1rem 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    max-width: max-content;
    margin: 0 auto;

    .btn {
      .arrow {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    h1 {
      margin-top: 2rem;
      font-size: 11rem;
      font-family: var(--title-font);
      font-weight: var(--font-bold);
      line-height: 1.25;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .inner__portfolio__header {
    .intro {
      padding: 0 3rem 8rem 3rem;

      h1 {
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .inner__portfolio__header {
    grid-template-columns: 1fr;
    margin-bottom: 0;

    .overlay {
      display: block;
      width: 100%;
      height: 75%;
      background: linear-gradient(rgba(0, 0, 0, 0), var(--blue));
      z-index: 1;
      bottom: 0;
      left: 0;
    }

    .intro {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding-right: 5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .inner__portfolio__header {
    .intro {
      padding: 0 2rem 8rem 2rem;

      h1 {
        font-size: 3rem;

        .line {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .inner__portfolio__header {
    .intro {
      padding: 0 2rem 5rem 2rem;
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

.inner__portfolio__person {
  padding: 8rem;

  .person__img {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 1rem auto;

    .img {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      clip-path: url(#logoClip);
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
      transition: all 0.5s ease-out;
    }
  }

  .text {
    text-align: center;

    h6 {
      font-size: 3rem;
      font-family: var(--title-font);
      font-weight: var(--font-bold);
      padding-bottom: 1rem;
    }

    p {
      max-width: 30rem;
      margin: 0 auto;
      padding-bottom: 2rem;
    }

    .btn {
      width: max-content;
      margin: 0 auto;

      .arrow {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.inner__portfolio__next {
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 8rem;

  .prev {
    z-index: 1;

    &:hover {
      a {
        svg {
          transform: rotate(-180deg) translateX(1rem);
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 1rem;

      svg {
        width: 1rem;
        transform: rotate(-180deg);
        margin-right: 1rem;
        transition: var(--fast-speed);
      }
    }
  }

  .text {
    z-index: 1;
    font-family: var(--title-font);
    font-size: 4rem;
  }

  .next {
    z-index: 1;

    a {
      display: flex;
      align-items: center;
      padding: 1rem;

      svg {
        width: 1rem;
        margin-left: 1rem;
        transition: var(--fast-speed);
      }
    }

    &:hover {
      a {
        svg {
          transform: translateX(1rem);
        }
      }
    }
  }

  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.7;
      z-index: 1;
    }

    .hover__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--blue);
      opacity: 0.4;
      transform: translateY(100%);
      transition: var(--mid-speed);
    }
  }

  &:hover {
    .img {
      .hover__overlay {
        // animation: imgHover 0.8s ease-in-out forwards;
        transform: translateY(0%);
      }
    }
  }
}

// premier traffic
.premier__details {
  padding: 8rem 2rem;
  background-color: #f9e01d;
  background-image: url('/premier/background.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  .grid {
    max-width: 1850px;
    margin: 0 auto;

    img {
      object-fit: contain;
      object-position: center;
      width: max-content;
    }

    .brochure {
      position: relative;
      padding-bottom: 8rem;

      .img {
        width: 100%;
        position: relative;
      }
    }

    .posters {
      position: relative;
    }

    .cards {
      position: relative;
      z-index: 3;
    }

    .logo {
      position: relative;
    }

    .site__layout {
      position: relative;

      .full {
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
      }

      .phone {
        position: absolute;
        top: 8rem;
        right: 4rem;
        height: 38rem;
        width: 20rem;
        z-index: 1;
      }
    }
  }
}

// yarcombe traffic
.yarcombe__details {
  padding: 8rem 2rem;
  background-color: #2b4934;

  .grid {
    max-width: 1850px;
    margin: 0 auto;

    img {
      object-fit: contain;
      width: max-content;
    }

    .brochure {
      position: relative;
      padding-bottom: 8rem;

      .img {
        width: 100%;
        position: relative;
      }
    }

    .site__layout {
      position: relative;

      .full {
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
      }

      .phone {
        position: absolute;
        top: 8rem;
        right: 4rem;
        height: 38rem;
        width: 20rem;
        z-index: 1;
      }
    }

    .social {
      padding-top: 10rem;
    }
  }
}

// nuova details
.nuova__details {
  padding: 8rem 2rem;
  background-color: #d9d9d9;
  background-size: 50%;
  background-position: right;
  background-image: url('/nuova/background.jpg');
  background-repeat: no-repeat;

  .grid {
    max-width: 1850px;
    margin: 0 auto;

    img {
      object-fit: contain;
      width: max-content;
    }

    .brochure {
      position: relative;
      padding-bottom: 8rem;

      .img {
        width: 100%;
        position: relative;
      }
    }

    .site__layout {
      position: relative;

      .full {
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
      }

      .phone {
        position: absolute;
        top: 8rem;
        right: 4rem;
        height: 38rem;
        width: 20rem;
        z-index: 1;
      }
    }

    .social {
      padding-top: 16rem;
    }
  }
}

// king details
.king__details {
  padding: 8rem 2rem;
  background-color: #044c7e;

  .grid {
    max-width: 1850px;
    margin: 0 auto;

    img {
      object-fit: contain;
      width: max-content;
    }

    .brochure {
      position: relative;
      padding-bottom: 8rem;

      .img {
        width: 100%;
        position: relative;
      }
    }

    .site__layout {
      position: relative;

      .full {
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
      }

      .phone {
        position: absolute;
        top: 8rem;
        right: 4rem;
        height: 38rem;
        width: 20rem;
        z-index: 1;
      }
    }

    .social {
      padding-top: 16rem;
    }
  }
}
