.work__main--premier {
  background-color: rgb(255, 255, 255);
}

.inner__portfolio__contact {
  padding: 10rem 0;

  > div {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 2rem;
      font-weight: var(--font-xbold);
      margin-bottom: 4rem;
    }

    .btn {
      .arrow {
        border-color: rgb(19, 19, 19);
      }
    }
  }
}

// premier
.work__heading {
  padding: 22rem 4rem 0 4rem;
  color: #fff;
  position: relative;

  .black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65rem;
    background-color: rgb(19, 19, 19);
    z-index: 0;
  }

  .title {
    z-index: 1;
    position: relative;
    padding: 0 4rem;
    max-width: 1600px;
    margin: 0 auto;

    ul {
      display: flex;
      font-weight: var(--font-light);
      margin-bottom: 1rem;

      li {
        margin-right: 1rem;
      }
    }

    h1 {
      font-family: var(--title-font);
      font-size: 6rem;
      font-weight: var(--font-bold);
      line-height: 1.2;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .main__img {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 4rem;
    height: 60rem;
    position: relative;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  }
}

.intro__details {
  max-width: 1600px;
  margin: 0 auto;
  padding: 12rem 0;
  color: rgb(19, 19, 19);

  h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: var(--font-xbold);
    padding: 0 4rem;
  }
}

.showcase__img {
  height: 60rem;
}

.project__details {
  background-color: #fff;
  color: rgb(19, 19, 19);
  padding: 10rem 4rem;

  > div {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      width: 50%;

      ul {
        li {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;

          span {
            font-size: 2rem;
            font-weight: var(--font-xlight);
            margin-bottom: 0.25rem;

            &:first-of-type {
              font-size: 1.25rem;
              font-weight: var(--font-bold);
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }

    .right {
      width: 50%;
      padding-left: 4rem;

      p {
        font-size: 2rem;
        font-weight: var(--font-bold);
      }
    }
  }
}

.work__img__slider {
  background-color: #fff;
  padding-bottom: 8rem;

  .splide__progress__bar {
    background-color: #fff;
    height: 1rem;
    width: 100%;
  }

  .splide__slide {
    .img {
      height: 60rem;
      transition: var(--fast-speed);
    }
  }
}

.work__image__grid {
  background-color: rgb(19, 19, 19);
  padding-top: 10rem;

  .text__header {
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem 10rem 2rem;
    font-size: 4rem;
    font-weight: var(--font-xbold);
    text-align: center;
  }

  .grid {
    .img {
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);

      img {
        object-fit: contain;
      }
    }
  }
}

.work__testimonial {
  background-color: rgb(19, 19, 19);
  color: #fff;
  padding: 10rem 0;

  > div {
    max-width: 1024px;
    margin: 0 auto;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      svg {
        width: 8rem;
        height: 8rem;
      }
    }

    p {
      font-size: 2rem;
      font-weight: var(--font-xbold);
      text-align: center;
    }
  }
}

.final__img {
  .img {
    height: 60rem;
  }
}

.more__work__slider {
  padding-bottom: 12rem;

  .services__splide {
    .splide__slide {
      .img {
        figure {
          img {
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }
  }
}
