:root {
  // colours
  --orange: #f69321;
  --blue: #38505d;
  --light-grey: #f3f3f3;

  --text-white: #fff;

  // fonts
  --body-font: 'Space Grotesk', sans-serif;
  --title-font: neue-haas-unica, sans-serif;

  // font-weights
  --font-light: 300;
  --font-med: 400;
  --font-bold: 600;
  --font-xbold: 700;

  // transitions
  --fast-speed: all 0.3s ease;
  --mid-speed: all 0.7s ease;
  --slow-speed: all 1s ease;

  --bg-col: #f69321;
}

// global styles
html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--blue);
  }
}

span {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
}

input,
textarea,
select {
  font-size: 1rem;
  font-weight: var(--font-med);
  font-family: var(--body-font);
  letter-spacing: 0.5px;
  line-height: 1.5;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
}

.btn {
  &:hover {
  }

  &:focus {
  }
}

img,
figure {
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
}

img {
  object-fit: cover;
  object-position: center;
}

.wrapper {
  background-color: var(--bg-col);
}

// header
.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .burger {
    cursor: pointer;
    position: relative;

    .line {
      height: 1px;
      width: 2rem;
      margin: 6px 0 6px auto;
      background-color: var(--text-white);

      &:nth-of-type(2) {
        width: 1.5rem;
      }

      &:nth-of-type(3) {
        width: 1rem;
      }
    }
  }

  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--orange);
    display: grid;
    grid-template-columns: 2.25fr 1.5fr;
    z-index: 100;

    .navbar__burger {
      position: absolute;
      padding: 1rem;
      top: 3rem;
      right: 4rem;
      z-index: 110;
      cursor: pointer;

      .line {
        height: 1px;
        width: 2rem;
        background-color: var(--text-white);

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }

    .navbar__left {
      background-color: var(--light-grey);
      color: var(--blue);
      position: relative;

      .navbar__left__logo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 4rem;
        bottom: 4rem;

        height: 24rem;
        width: 24rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .navbar__left__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        height: 100%;
        padding: 12rem 4rem 4rem 0;
        width: max-content;
      }

      .navbar__left__menu {
        li {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
          font-weight: var(--font-xbold);
          font-family: var(--title-font);

          a {
            display: flex;

            span {
              color: var(--blue);
              font-size: 0.7rem;
              margin-right: 1.5rem;
              margin-top: 1rem;
              font-weight: var(--font-bold);
            }
          }
        }
      }

      .navbar__left__sectors {
        h4 {
          padding-bottom: 1rem;
          font-weight: var(--font-bold);
          font-family: var(--title-font);
        }

        ul {
          font-weight: var(--font-light);

          li {
            display: flex;
            align-items: center;
            padding-bottom: 0.25rem;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0.5rem;

              svg {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .navbar__right {
      background-color: var(--orange);
      position: relative;
      color: #fff;
      padding: 12rem 0 4rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform-origin: right;

      .navbar__right__contact {
        position: absolute;
        padding: 4rem;
        display: flex;
        top: 0;
        left: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;

          &.email {
            margin-right: 2rem;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5rem;
            color: var(--blue);
          }
        }
      }

      .navbar__right__menu {
        li {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
          font-weight: var(--font-xbold);
          font-family: var(--title-font);

          a {
            display: flex;

            span {
              color: var(--blue);
              font-size: 0.7rem;
              margin-right: 1.5rem;
              margin-top: 1rem;
              font-weight: var(--font-bold);
            }
          }
        }
      }

      .navbar__right__details {
        color: var(--blue);
        font-weight: var(--font-light);

        h5 {
          font-weight: var(--font-bold);
          padding-bottom: 1.5rem;
          font-family: var(--title-font);

          a {
            border-bottom: 1px solid var(--blue);
          }
        }

        address {
          padding-bottom: 1.5rem;
        }

        .directions {
          color: #fff;
          font-weight: var(--font-bold);
          border-bottom: 1px solid #fff;
          width: max-content;
          font-family: var(--title-font);
        }
      }
    }
  }
}
