:root {
  --body-font: 'Space Grotesk', sans-serif;
  --title-font: neue-haas-unica, sans-serif;
  --font-xlight: 300;
  --font-light: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-xbold: 700;
  --fast-speed: all 0.3s ease;
  --mid-speed: all 0.7s ease;
  --slow-speed: all 1s ease;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  cursor: pointer;
}

a:focus {
  outline: 1px solid var(--blue);
}

span {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: center;
  color: var(--blue);
}

input,
textarea,
select {
  font-size: 1rem;
  font-weight: var(--font-med);
  font-family: var(--body-font);
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: var(--blue);
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: var(--font-med);
  letter-spacing: 1px;
}

.btn span {
  margin-right: 2rem;
}

.btn .arrow {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.btn .arrow svg {
  width: 40%;
  height: 40%;
}

.btn .arrow svg path {
  fill: var(--white);
}

.btn:focus {
  outline: 1px solid var(--blue);
}

img,
figure {
  width: 100%;
  height: 100%;
}

figure {
  position: relative;
  overflow: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wrapper {
  --orange: #f69321;
  --blue: #38505d;
  --light-grey: #f3f3f3;
  --white: #fff;
  --bg-colour: var(--orange);
  background-color: var(--bg-colour);
  -webkit-transition: var(--mid-speed);
  transition: var(--mid-speed);
  color: var(--blue);
}

.wrapper.blue {
  --bg-colour: var(--blue);
}

#cursor {
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: background, width, height;
  transition-property: background, width, height;
  background: #000;
  z-index: 1000;
}

.header {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 6rem;
}

.header .burger {
  cursor: pointer;
  position: relative;
  z-index: 110;
  overflow: hidden;
}

.header .burger .line {
  height: 1px;
  width: 2rem;
  margin: 6px 0 6px auto;
  background-color: var(--white);
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
}

.header .burger .line.line2 {
  width: 1.5rem;
}

.header .burger .line.line3 {
  width: 1rem;
}

.header .burger.nav--open .line1 {
  -webkit-transform: rotate(45deg) translateY(8.5px);
          transform: rotate(45deg) translateY(8.5px);
}

.header .burger.nav--open .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.header .burger.nav--open .line3 {
  width: 2rem;
  -webkit-transform: rotate(-45deg) translateY(-8.5px);
          transform: rotate(-45deg) translateY(-8.5px);
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 18rem;
}

.header .header__logo svg {
  height: 100%;
}

.header .header__logo svg:first-of-type {
  width: 4rem;
}

.header .navbar {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.25fr 1.5fr;
      grid-template-columns: 2.25fr 1.5fr;
  z-index: 100;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header .navbar .navbar__left {
  background-color: var(--light-grey);
  color: var(--blue);
  position: relative;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header .navbar .navbar__left .navbar__left__logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 4rem;
  bottom: 4rem;
  height: 16rem;
  width: 16rem;
}

.header .navbar .navbar__left .navbar__left__logo svg {
  width: 100%;
  height: 100%;
}

.header .navbar .navbar__left .navbar__left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  height: 100%;
  padding: 12rem 4rem 4rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header .navbar .navbar__left .navbar__left__menu li {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-xbold);
  font-family: var(--title-font);
}

.header .navbar .navbar__left .navbar__left__menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar__left .navbar__left__menu li a span {
  color: var(--blue);
  font-size: 0.7rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  font-weight: var(--font-bold);
}

.header .navbar .navbar__left .navbar__left__sectors h4 {
  padding-bottom: 1rem;
  font-weight: var(--font-bold);
  font-family: var(--title-font);
}

.header .navbar .navbar__left .navbar__left__sectors ul {
  font-weight: var(--font-light);
}

.header .navbar .navbar__left .navbar__left__sectors ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.25rem;
}

.header .navbar .navbar__left .navbar__left__sectors ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.5rem;
}

.header .navbar .navbar__left .navbar__left__sectors ul li span svg {
  width: 100%;
}

.header .navbar .navbar__right {
  background-color: var(--orange);
  position: relative;
  color: var(--white);
  padding: 12rem 0 4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.header .navbar .navbar__right .navbar__right__contact {
  position: absolute;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
}

.header .navbar .navbar__right .navbar__right__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
}

.header .navbar .navbar__right .navbar__right__contact a.email {
  margin-right: 2rem;
}

.header .navbar .navbar__right .navbar__right__contact a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.5rem;
  color: var(--blue);
}

.header .navbar .navbar__right .navbar__right__menu li {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: var(--font-xbold);
  font-family: var(--title-font);
  overflow: hidden;
}

.header .navbar .navbar__right .navbar__right__menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar__right .navbar__right__menu li a span {
  color: var(--blue);
  font-size: 0.7rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  font-weight: var(--font-bold);
}

.header .navbar .navbar__right .navbar__right__details {
  color: var(--blue);
  font-weight: var(--font-light);
}

.header .navbar .navbar__right .navbar__right__details h5 {
  font-weight: var(--font-bold);
  padding-bottom: 1.5rem;
  font-family: var(--title-font);
}

.header .navbar .navbar__right .navbar__right__details h5 a {
  border-bottom: 1px solid var(--blue);
}

.header .navbar .navbar__right .navbar__right__details address {
  padding-bottom: 1.5rem;
}

.header .navbar .navbar__right .navbar__right__details .directions {
  color: var(--white);
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--white);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--title-font);
}

@media only screen and (max-width: 1280px) {
  .header .navbar .navbar__left .navbar__left__logo {
    width: 12rem;
    height: 12rem;
    left: 2rem;
    bottom: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header .navbar {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .header .navbar .navbar__left .navbar__left__logo {
    display: none;
  }
  .header .navbar .navbar__right .navbar__right__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header .navbar .navbar__right .navbar__right__contact a.email {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .header .navbar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .navbar .navbar__left {
    display: none;
  }
  .header .navbar .navbar__right {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navbar .navbar__right .navbar__right__details {
    display: none;
  }
  .header .navbar .navbar__right .navbar__right__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header .navbar .navbar__right .navbar__right__contact a {
    margin: 0 1rem;
  }
  .header .navbar .navbar__right .navbar__right__contact a.email {
    margin-bottom: 0;
  }
  .header .navbar .navbar__right .navbar__right__menu li {
    margin-bottom: 0;
    margin: 1.5rem 0;
  }
  .header .navbar .navbar__right .navbar__right__menu li a {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar .navbar__right .navbar__right__menu li a span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .header .navbar .navbar__right .navbar__right__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar .navbar__right .navbar__right__contact a {
    margin: 0;
  }
  .header .navbar .navbar__right .navbar__right__contact a.email {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) and (max-height: 800px) {
  .header .navbar .navbar__right .navbar__right__contact {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 2rem 1rem;
  }
  .header .header__logo {
    width: 12rem;
  }
  .header .header__logo svg:first-of-type {
    margin-right: 0.5rem;
  }
}

.home__hero {
  height: calc(100vh - 6rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.home__hero .home__hero__text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 8rem;
}

.home__hero .home__hero__text h2 {
  color: var(--white);
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}

.home__hero .home__hero__text h3 {
  font-size: 5.5rem;
  font-weight: var(--font-bold);
  font-family: var(--title-font);
  line-height: 1.25;
}

.home__hero .home__hero__text h3 span {
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  .home__hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: calc(50vh - 3rem);
  }
  .home__hero .home__hero__text {
    padding: 8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home__hero .home__hero__text h3 span {
    display: inline;
  }
}

@media only screen and (max-width: 950px) {
  .home__hero .home__hero__text {
    padding: 4rem;
  }
}

@media only screen and (max-width: 625px) {
  .home__hero .home__hero__text h2 {
    font-size: 1.15rem;
  }
  .home__hero .home__hero__text h3 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .home__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__hero .home__hero__img {
    position: absolute;
  }
  .home__hero .home__hero__text {
    margin-top: auto;
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .home__hero .home__hero__text h2 {
    font-size: 1rem;
  }
  .home__hero .home__hero__text h3 {
    font-size: 3rem;
  }
}

.home__services .home__services__header {
  padding: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.home__services .home__services__header .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home__services .home__services__header .text h2 {
  font-size: 2.5rem;
  font-weight: var(--font-xbold);
  font-family: var(--title-font);
  padding-bottom: 1rem;
}

.home__services .home__services__header .text p {
  font-size: 1.25rem;
  color: var(--white);
  font-weight: var(--font-xlight);
}

.home__services .home__services__header .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home__services .home__services__header .button .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1366px) {
  .home__services .home__services__header {
    width: 100%;
  }
}

@media only screen and (max-width: 975px) {
  .home__services .home__services__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .home__services .home__services__header .text {
    padding-bottom: 4rem;
  }
  .home__services .home__services__header .text p {
    font-size: 1.15rem;
  }
  .home__services .home__services__header .button {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .home__services .home__services__header {
    padding: 2rem 2rem 8rem 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__services .home__services__header .text {
    padding-bottom: 4rem;
    text-align: center;
  }
  .home__services .home__services__header .text h2 {
    font-size: 2rem;
  }
  .home__services .home__services__header .text p {
    font-size: 1.05rem;
  }
  .home__services .home__services__header .button {
    padding-left: 0;
  }
}

.home__services__slider .home__services__splide .splide__slide .img {
  margin-bottom: 1.5rem;
}

.home__services__slider .home__services__splide .splide__slide .img figure {
  height: 20rem;
}

.home__services__slider .home__services__splide .splide__slide .content h3 {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--title-font);
  font-weight: var(--font-xbold);
  font-size: 2rem;
}

.home__services__slider .home__services__splide .splide__slide .content h3 .text {
  position: relative;
}

.home__services__slider .home__services__splide .splide__slide .content h3 .underline {
  display: block;
  position: absolute;
  width: 105%;
  background-color: var(--light-grey);
  height: 1rem;
  opacity: 0.5;
  bottom: 0.25rem;
  left: -2.5%;
  z-index: -1;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
}

.home__services__slider .home__services__splide .splide__slide .content h3 .number {
  font-weight: var(--font-light);
  font-size: 1rem;
  color: var(--white);
  margin-right: 2rem;
}

.home__services__slider .home__services__splide .splide__slide .content h3 .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1rem;
  margin-left: 2rem;
}

.home__services__slider .home__services__splide .splide__slide .content h3 .arrow svg {
  height: 100%;
  width: 100%;
}

.home__services__slider .home__services__splide .splide__slide .content h3 .arrow svg path {
  fill: var(--white);
}

.home__services__slider .home__services__splide .splide__slide .content p {
  font-size: 1rem;
  padding: 0 10rem 0 3.25rem;
  color: var(--white);
  font-weight: var(--font-xlight);
}

@media only screen and (max-width: 1600px) {
  .home__services__slider .home__services__splide .splide__slide .content p {
    padding: 0 4rem 0 3.25rem;
  }
}

@media only screen and (max-width: 875px) {
  .home__services__slider .home__services__splide .splide__slide .content h3 {
    font-size: 1.5rem;
  }
  .home__services__slider .home__services__splide .splide__slide .content p {
    padding: 0 0.5rem 0 3.25rem;
  }
}

@media only screen and (max-width: 450px) {
  .home__services__slider .home__services__splide .splide__slide .img figure {
    height: 14rem;
  }
  .home__services__slider .home__services__splide .splide__slide .content h3 {
    font-size: 1.5rem;
  }
  .home__services__slider .home__services__splide .splide__slide .content h3 .number {
    display: none;
  }
  .home__services__slider .home__services__splide .splide__slide .content p {
    padding: 0 1rem 0 0;
  }
}

.home__portfolio__grid {
  padding: 10rem;
  max-width: 1800px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 12rem;
  grid-auto-rows: 10rem;
}

.home__portfolio__grid .home__portfolio__item__img {
  overflow: hidden;
  grid-row: span 3 / auto;
}

.home__portfolio__grid .home__portfolio__item__img .img__wrapper {
  background-color: lightslategray;
  height: 100%;
}

.home__portfolio__grid .home__portfolio__item__img figure {
  background-color: var(--blue);
}

.home__portfolio__grid .home__portfolio__item__text {
  grid-row: span 2 / auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) {
  text-align: right;
}

.home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) h3 {
  margin-right: 0;
  margin-left: auto;
}

.home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) p {
  margin-left: auto;
}

.home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.home__portfolio__grid .home__portfolio__item__text h3 {
  font-size: 2.5rem;
  font-family: var(--title-font);
  font-weight: var(--font-xbold);
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

.home__portfolio__grid .home__portfolio__item__text h3 .underline {
  display: block;
  position: absolute;
  width: 105%;
  background-color: var(--light-grey);
  height: 1rem;
  opacity: 0.5;
  bottom: 0.25rem;
  left: -2.5%;
  z-index: -1;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
}

.home__portfolio__grid .home__portfolio__item__text p {
  padding-top: 1rem;
  max-width: 32rem;
  padding-bottom: 3rem;
  color: var(--white);
}

.home__portfolio__grid .home__portfolio__item__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__portfolio__grid .home__portfolio__item__text a span {
  margin-right: 3rem;
}

.home__portfolio__grid .home__portfolio__item__text a .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.home__portfolio__grid .home__portfolio__item__text a .arrow svg {
  width: 25%;
  height: 25%;
}

@media only screen and (max-width: 1440px) {
  .home__portfolio__grid {
    padding: 10rem 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .home__portfolio__grid {
    padding: 10rem 2rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .home__portfolio__grid {
    padding: 10rem 4rem;
    gap: 2rem;
    grid-auto-rows: unset;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home__portfolio__grid .home__portfolio__item__img {
    grid-row: span 1 / auto;
    height: 30rem;
  }
  .home__portfolio__grid .home__portfolio__item__img:nth-of-type(odd) {
    padding-left: 4rem;
  }
  .home__portfolio__grid .home__portfolio__item__img:nth-of-type(even) {
    padding-right: 4rem;
  }
  .home__portfolio__grid .home__portfolio__item__text {
    grid-row: span 1 / auto;
    padding-bottom: 4rem;
  }
  .home__portfolio__grid .home__portfolio__item__text:last-of-type {
    padding-bottom: 0;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(odd) {
    padding-left: 8rem;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) {
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .home__portfolio__grid {
    padding: 10rem 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .home__portfolio__grid .home__portfolio__item__img {
    height: 20rem;
  }
  .home__portfolio__grid .home__portfolio__item__img:nth-of-type(odd) {
    padding-left: 0;
  }
  .home__portfolio__grid .home__portfolio__item__img:nth-of-type(even) {
    padding-right: 0;
  }
  .home__portfolio__grid .home__portfolio__item__text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__portfolio__grid .home__portfolio__item__text p {
    margin: 0;
    text-align: center;
    padding-bottom: 2rem;
  }
  .home__portfolio__grid .home__portfolio__item__text h3 {
    margin: 0;
    text-align: center;
  }
  .home__portfolio__grid .home__portfolio__item__text a .arrow {
    width: 4rem;
    height: 4rem;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(odd) {
    padding-left: 0;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) {
    padding-right: 0;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) p {
    margin: 0;
    text-align: center;
  }
  .home__portfolio__grid .home__portfolio__item__text:nth-of-type(even) h3 {
    margin: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .home__portfolio__grid {
    padding: 6rem 2rem;
  }
  .home__portfolio__grid .home__portfolio__item__img {
    height: 16rem;
  }
  .home__portfolio__grid .home__portfolio__item__text p {
    font-size: 1rem;
  }
  .home__portfolio__grid .home__portfolio__item__text h3 {
    font-size: 2rem;
  }
}

.view__all__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
  background-color: var(--blue);
  color: var(--white);
}

.view__all__work .view__all__work__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view__all__work .view__all__work__btns a {
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid var(--white);
}

.view__all__work .view__all__work__btns a:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 900px) {
  .view__all__work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .view__all__work .view__all__work__btns {
    margin-top: 2rem;
  }
  .view__all__work .view__all__work__btns a {
    margin: 0 0.5rem;
  }
  .view__all__work .view__all__work__btns a:last-of-type {
    margin: 0 0.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .view__all__work .view__all__work__btns {
    display: none;
  }
  .view__all__work .btn .arrow {
    width: 4rem;
    height: 4rem;
  }
}

.meet__the__team {
  padding: 6rem 0;
}

.meet__the__team .team__splide {
  padding: 2rem 0;
}

.meet__the__team .team__splide .splide__slide {
  height: 26rem;
}

.meet__the__team .team__splide .splide__slide .slide__spacer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.meet__the__team .team__splide .splide__slide .slide__spacer p {
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.meet__the__team .team__splide .splide__slide .slide__spacer .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
}

.meet__the__team .team__splide .splide__slide .slide__spacer .arrows svg {
  width: 100%;
  height: 100%;
}

.meet__the__team .team__splide .splide__slide .slide__spacer .arrows svg:first-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.meet__the__team .team__splide .splide__slide .slide__content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meet__the__team .team__splide .splide__slide .slide__content .img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.meet__the__team .team__splide .splide__slide .slide__content .overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.meet__the__team .team__splide .splide__slide .slide__content .text {
  position: relative;
  z-index: 2;
  padding: 1rem;
  margin-top: auto;
  color: #fff;
}

.meet__the__team .team__splide .splide__slide .slide__content .text h4 {
  z-index: 1;
  position: relative;
  font-size: 2rem;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}

.footer {
  min-height: 100vh;
  background-color: var(--blue);
  color: var(--white);
  padding: 8rem 8rem 4rem 8rem;
}

.footer .footer__cta {
  padding: 4rem 0;
}

.footer .footer__cta h5 {
  font-size: 3.75rem;
  font-family: var(--title-font);
  font-weight: var(--font-xbold);
  padding-bottom: 2rem;
}

.footer .footer__cta h5 span {
  position: relative;
  z-index: 10;
}

.footer .footer__cta h5 span::after {
  content: '';
  display: block;
  position: absolute;
  width: 105%;
  background-color: #fff;
  height: 1rem;
  opacity: 0.35;
  bottom: 0.45rem;
  left: -2.5%;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
}

.footer .footer__cta .btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__cta .btn .arrow svg path {
  fill: var(--orange);
}

.footer .footer__details {
  padding-top: 4rem;
  font-weight: var(--font-xlight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.footer .footer__details .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

.footer .footer__details .footer__contact ul {
  padding-right: 6rem;
}

.footer .footer__details .footer__contact ul li:first-of-type {
  font-weight: var(--font-med);
}

.footer .footer__details .footer__contact div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem;
  letter-spacing: 1px;
  font-weight: var(--font-med);
}

.footer .footer__details .footer__contact div a svg {
  margin-right: 1rem;
  fill: var(--orange);
}

.footer .footer__details .footer__furniture h6 {
  padding-bottom: 0.15rem;
}

.footer .footer__details .footer__furniture h6:first-of-type {
  font-weight: var(--font-med);
  opacity: 0.5;
}

.footer .footer__details .footer__furniture h6:last-of-type {
  padding-bottom: 2rem;
}

.footer .footer__details .footer__furniture p span {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .footer .footer__cta {
    padding-top: 0;
  }
  .footer .footer__cta h5 {
    font-size: 3rem;
  }
  .footer .footer__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__details .footer__furniture {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 8rem 4rem 4rem 4rem;
  }
}

@media only screen and (max-width: 850px) {
  .footer .footer__cta h5 {
    font-size: 2.5rem;
  }
  .footer .footer__cta h5 span::after {
    height: 0.75rem;
  }
}

@media only screen and (max-width: 725px) {
  .footer {
    text-align: center;
    padding: 6rem 2rem 2rem 2rem;
  }
  .footer .footer__cta .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__details .footer__contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__details .footer__contact div a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .footer .footer__cta h5 {
    font-size: 1.75rem;
  }
  .footer .footer__cta h5 span {
    display: inline;
  }
  .footer .footer__cta h5 span::after {
    display: none;
  }
  .footer .footer__details {
    padding-top: 2rem;
  }
  .footer .footer__details .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__details .footer__contact ul {
    padding: 0 0 2rem 0;
  }
  .footer .footer__details .footer__furniture {
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */